/* overall  */
*{

}
.title-primary{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
 }
.description{
    color: #27272799;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-primary{
    border-radius: 8px;
    border: 0;
    background: #E55473;    
    padding: 20px 43px;
    gap: 10px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}
/* header  */
.header-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
nav{
    background-color: #477d1126;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 50px;
}
nav li:hover{
    background-color: rgb(84, 46, 6);
    border-radius: 10px;
}
nav a{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif ;
    color: black;
    text-decoration: none;
}
nav li{
    
}
nav img{
    width: 150px;
}
/* banner section  */
.banner{
    display: flex;
    height: 850px;
    background-color: #e554731a;
    align-items: center;
    justify-content: space-evenly;
}
#banner-desc{
    width: 634px;
}
.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 708px;
}

.banner-image{
    height: 800px;
    width: 635px;
    padding-top: 50px;
}

.banner-text{
    text-align: left;
}

/* bonus featured flowers part  */
.ft-flowers{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 170px;
}
.ft-images{
    display: flex;
}
.image1, .image2, .image3{
    display: block;
    height: 530px;
    width: 460px;
    border-radius: 300px 300px 0px 0px;
    margin-right: 20px;
}
.image1{
    background: #a7216226;
}

.image2{
    background: #0597a026;
}
.image3{
    background: #477d1126 ;
}
.image1 img{
    padding-top: 102px;
    padding-left: 10px;
}
.image2 img{
    padding-top: 100px;
    padding-left: 45px;
}
.image3 img{
    padding-top: 58px;
    padding-left: 30px;
}
.image1-name, .image2-name, .image3-name{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.image2-name{
    margin-top: 60px;
}
.ft-flowers .description{
    width: 585px;
    padding-left: 420px;
}
/* .ft-images {
    position: relative;
    height: 530px;
    background: #a7216226;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .ft-images .image1,
  .ft-images .image2,
  .ft-images .image3 {
    flex: 1;
    background-color: #a7216226;
  }
  
  .ft-images img {
    display: block;
  } */
/* optional part  */

/* hot deal part  */
.hot-deal-part{
    display: flex;
    justify-content: space-evenly;
    background-color: #e554731a; 
    height: 600px;
    align-items: center;
    margin: 128px 0px;
}

.hot-deal-text{
    text-align: center;
}

#hot-deal-desc{
    width: 594px;
}
.off-color{
    color:#E55473;
}

.sign-up{

}

/* instagram section  */
.insta{
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}
#ins-desc{
    width: 594px;
    margin: 30px 663px;
}
.insta-img{
    margin-right: 24px;
    margin-bottom: 45px;
}

.images{
}

/* latest deal section  */
.latest-deals{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 449px;
    margin-bottom: 120px;

}
.latest-deals input{
    padding: 20px 510px 20px 20px;
    margin-right: 15px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}
#latest-des{
    margin-bottom: 45px;
    margin-top: 15px;
}

/* footer  */
footer{
    height: 430px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#shop{
    color: #FFFFFF ;
}
.footer-title{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
}
.footer-desc{
    color: #ffffffe6;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 22px;
    margin-bottom: 30px;
}
.footer-copyright{
    color: #ffffff66;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}